@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif, "Twemoji Country Flags", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
